/*-------------------------------------------------------------------------------------------------------------DESKTOPS-------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------SMALL DESKTOPS-----------------------------------------------------------*/


@media screen and (min-width: 750px) and (orientation: landscape) {
    /*-----------------GENERAL--------------*/

    /*Styling for body: no overflow, wallpaper background, sets font styling (family, color, size)*/

    body {
        overflow: hidden;
    }

    /*--------------CONTAINERS--------------*/

    .wrapper {
        position: relative;
        max-width: 1325px;
        min-width: 900px;
        overflow: hidden;
    }

    #bannerArea {
        width: 50%;
        min-width: 450px;
        max-width: 600px;
    }

    /*----------------BANNER----------------*/

    #arsWoodenBanner {
        width: 100%;
    }

    /*-----------------SMOKE----------------*/

    .smokeRight, .smokeLeftA {
        display: initial;
        z-index: 80;
    }
    
    .smokeRight {
        width: 100%;
        top: -40%;
        right: -2.5%;
    }
 
    .smokeLeftA {
        width: 100%;
        bottom: -10%;
        left: 
    }
    
    /*-----------HINT MESSAGE---------------*/
    .hints {
        width: 50%;
        margin: 0 25%;
        top: 30vh;
        font-size: 1.5rem;
        padding: 5%;
    }

    /*-----------------BIO------------------*/

    /*STYLING FOR BIO IMAGE*/

    #bio {
        width: 100%;
        min-height: 30vh;
        left: 0;
        margin: 0;
    }

    #bio div {
        width: 100%;
        text-align: center;
        bottom: 15%;
    }
    
    .bioButton {
        left: 5.1vw;
        top: -2vw;
        width: 11%;
    }

    /*STYLING FOR BIO BUTTON ON BANNER AND GO BACK BUTTON ON BIO*/

    .backButton {
        width: 30%;
        margin: 0 35%;
        padding: 15px;
    }

    /*-----------------RADIO----------------*/
    #radio{
        max-width: 850px;
        right: 20.8%;
        top: -5vh;
    }

    /*DESKTOP*/
    #enigmaRadioDesktop {
        display: initial;
        width: 170%;
        height: auto;
    }

    /*MOBILE*/
    #enigmaRadioMobile {
        display: none;
    }

    /*STYLING FOR RADIO LINKS*/

    .songButton {
        border-radius: 50%;
        width: 2.4%;
        height: 2.84%;
        z-index: 100;
        cursor: pointer;
    }
    
    .Off {
        background: radial-gradient(transparent, rgba(190,0,0,0.1) 55%);
        border: transparent;
        box-shadow: 0 0 15px 0.75px rgba(190,0,0,0.7);
    }

    #gottaLetMeKnow {
        top: 62.81%;
        left: 74.92%;
    }

    #outMyWindow {
        top: 62.81%;
        left: 80.42%;
    }

    #leftToRust {
        top: 62.79%;
        left: 88.32%;
    }

    #soundCloudRadioDial {
        padding: 0.1% 0.1% 0.15%;
        top: 60%;
        left: 84.45%;
        width: 2.4%;
        height: 2.84%;
    }
    
    /*-----------JS DISABLED NOTICE---------*/
    .jsDisabled {
        width: 57%;
        min-height: 50vh;
        position: absolute;
        background-image: url(../img/blankNotice-cutout.png);
        background-size: cover;
        color: slategray;
        font-size: 3vh;
        top: 15vh;
        left: 55vh;
        z-index: 100;
        margin: 1.25%;
        padding: 17vh 6vh 0;
    }

    /*----------------FOOTER----------------*/

    footer {
        height: 6.5vh;
        position: fixed;
        bottom: 0;
        padding-top: 3%;
        padding-bottom: 2%;
    }

    footer img {
        margin: 1% 0.25%;
        width: 2%;
    }
}


/*------------------------------------------------MEDIUM DESKTOPS & TABLETS IN LANDSCAPE------------------------------------------------*/


@media screen and (min-width: 1000px) and (orientation: landscape) {

    /*-----------------BIO------------------*/

    /*STYLING FOR BIO BUTTON ON BANNER AND GO BACK BUTTON ON BIO*/
    
    .bioButton {
        left: 4.4vw;
        top: -1.57vw;
    }

    .backButton {
        width: 15%;
        margin: 0 42.5%;
    }

    /*----------------RADIO-----------------*/
    #radio{
        max-width: 1100px;
        top: -6.5vh;
    }

    /*----------------FOOTER----------------*/

    footer {
        height: 5.5vh;
        padding-top: 1.5%
    }

    footer img {
        width: 2%;
    }
}


/*------------------------------------------------------------LARGER DESKTOPS-----------------------------------------------------------*/


@media screen and (min-width: 1300px) and (max-height: 900px) and (orientation: landscape) {

    /*-----------------BIO------------------*/

    /*STYLING FOR BIO BUTTON ON BANNER AND GO BACK BUTTON ON BIO*/
    
    .bioButton {
        top: -1.55vw;
        left: 4.45vw;
    }

    .backButton {
        width: 15%;
        margin: 0 42.5%;
    }

    /*----------------RADIO-----------------*/
    #radio{
        max-width: 1200px;
        top: -6.95vw;
        left: -12vw;
    }

    /*----------------FOOTER----------------*/

    footer {
        height: 5.5vh;
        padding-top: 1.5%
    }

    footer img {
        width: 2%;
    }
}


/*-----------------------------------------------------------LARGEST DESKTOPS-----------------------------------------------------------*/


@media screen and (min-width: 1900px) and (orientation: landscape) {

    /*--------------CONTAINERS--------------*/

    .wrapper {
        max-width: 1700px;
        min-width: 900px;
    }

    /*-----------------BIO------------------*/

    /*STYLING FOR BIO IMAGE*/

    #bio {
        width: 100%;
        min-height: 15vh;
        font-size: 1.2rem;
    }

    /*STYLING FOR BIO BUTTON ON BANNER AND GO BACK BUTTON ON BIO*/


    .backButton {
        width: 10%;
        margin: 0 45%;
    }

    /*----------------RADIO-----------------*/
    #radio{
        max-width: 1600px;
        right: 10%;
        top: -9%;
    }

    /*----------------FOOTER----------------*/

    footer {
        height: 5vh;  
    }
}



/*--------------------------------------------------------------------------------------------------------------TABLETS-------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------LARGE TABLETS IN LANDSCAPE-----------------------------------------------------*/


@media screen and (min-width: 1100px) and (min-height: 800px) and (orientation: landscape) {
    
    /*----------------RADIO-----------------*/
    #radio{
        max-width: 1370px;
    }

    /*----------------FOOTER----------------*/

    footer {
        font-size: 1rem;
    }
}