/*---------------------------------------------------------TABLETS IN LANDSCAPE---------------------------------------------------------*/


@media screen and (min-width: 1020px) and (min-height: 760px) and (orientation: landscape) {
    /*-----------------GENERAL--------------*/

    /*Styling for body: no overflow, wallpaper background, sets font styling (family, color, size)*/

    body {
        overflow: hidden;
    }

    /*--------------CONTAINERS--------------*/

    .wrapper {
        position: relative;
        max-width: 1325px;
        min-width: 900px;
        overflow: hidden;
    }

    #bannerArea {
        width: 50%;
        min-width: 450px;
        max-width: 600px;
    }

    /*----------------BANNER----------------*/

    #arsWoodenBanner {
        width: 100%;
    }

    /*-----------------BIO------------------*/

    /*STYLING FOR BIO IMAGE*/

    #bio {
        width: 100%;
        min-height: 30vh;
    }

    #bio div {
        width: 100%;
        position: absolute;
        text-align: center;
        bottom: 15%;
    }

    /*STYLING FOR BIO BUTTON ON BANNER AND GO BACK BUTTON ON BIO*/
    
    .bioButton {
        left: 4.85vw;
        top: -1.4vw;
    }

    .backButton {
        width: 30%;
        margin: 0 35%;
        padding: 15px;
    }

    /*-----------------RADIO----------------*/
    #radio{
        max-width: 1174px;
        right: 14%;
        top: -2vh;
    }
    
    /*-----------JS DISABLED NOTICE---------*/
    .jsDisabled {
        width: 50%;
        min-height: 50vh;
        position: absolute;
        background-image: url(../img/blankNotice-cutout.png);
        background-size: cover;
        color: slategray;
        font-size: 3vh;
        top: 15vh;
        left: 40%;
        z-index: 100;
        margin: 1.25%;
        padding: 17vh 6vh 0;
    }

    /*----------------FOOTER----------------*/

    footer {
        height: 6.5vh;
        position: fixed;
        bottom: 0;
        padding-top: 3%;
        padding-bottom: 2%;
    }

    footer img {
        margin: 1% 0.25%;
        width: 2%;
    }
}

/*-------------------------------------------------MEDIUM & LARGE TABLETS IN LANDSCAPE--------------------------------------------------*/


@media screen and (min-width: 1100px) and (min-height: 800px) and (orientation: landscape) {

    /*-----------------BIO------------------*/

    /*STYLING FOR BIO IMAGE*/

    #bio {
        width: 100%;
        min-height: 18vh;
    }

    /*STYLING FOR BIO BUTTON ON BANNER AND GO BACK BUTTON ON BIO*/

    .backButton {
        width: 15%;
        margin: 0 42.5%;
    }

    /*----------------RADIO-----------------*/
    #radio{
        top: -7.25vh;
    }
    
    /*----------------FOOTER----------------*/

    footer {
        height: 6vh;
        padding-top: 3%;
        padding-bottom: 2%;
    }

    footer img {
        margin: 1% 0.4%;
        width: 2.5%;
    }
}